BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 120
UseTab: Never

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive

BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom

BraceWrapping:
  AfterFunction: true
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  AfterClass: true

BinPackArguments: true

EmptyLineBeforeAccessModifier: Always
IndentAccessModifiers: true
AccessModifierOffset: 0

PointerAlignment: Right

AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: SFS_InlineOnly
AllowShortEnumsOnASingleLine: false

IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^".*\.h"'
    Priority: 2
  - Regex: '^<.*\.hpp>'
    Priority: 3
  - Regex: '^".*\.hpp"'
    Priority: 4
SortIncludes: true

SpaceAfterCStyleCast: false
SpacesBeforeTrailingComments: 1
